.container {
	position: fixed;
	left: 0;
	width: 616px;
	height: 100%;
	overflow: auto; /* Добавляем прокрутку, если контент превышает высоту */
	transform: translate(-616px);
	transition: transform 0.5s ease;

	/* Стилизация скролл-бара */

	&::-webkit-scrollbar {
		width: 8px; /* Ширина скролл-бара */
	}

	&::-webkit-scrollbar-thumb {
		background-color: #d7d7d7; /* Цвет ползунка */
		border-radius: 4px; /* Скругление углов */
	}

	&::-webkit-scrollbar-track {
		background: transparent; /* Прозрачный фон трека */
	}
}

.container_open {
	transform: translate(0);
}

.form {
	display: flex;
	flex-shrink: 0;
	flex-direction: column;
	gap: 50px;
	box-sizing: border-box;
	width: 616px;
	height: auto;
	min-height: 100%;
	padding: 50px 31px;
	background-color: #ffffff;
	border-right: 1px solid #000000;
}

.bottomContainer {
	display: flex;
	justify-content: space-between;
	margin-top: auto;
}
